@mixin footer-calculation-style {
    @include theme-box-style;

    p{
        padding: 0.5em;
        line-height: 1.5em;
        text-indent: 2em;
        text-align: left;
    }

    #current-version{
        width: 100%;
        text-align: center;
        color: rgba(160, 160, 160, 1);
        font-size: 0.6em;

        span{
            padding-right: 1em;
        }
    }
}